body {
    font-family: 'Ubuntu Condensed', sans-serif;
}

#links {
    border: 1px solid black;
}

/* #portfolio-nav, .main-body {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    #portfolio-nav, .main-body {
        padding-left: 0;
    }
} */